@model List<DayLogModel>;
@{
    ViewData["Title"] = "Log";
    int proccessedDays = 0;
}

@section Styles {
    <link rel="stylesheet" href="~/css/log/index.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/log/index.js" asp-append-version="true"></script>
}
<div id="log-calender" class="calender">
    @for (int month = -3; month < 1; month++)
    {  
        DateOnly fourMonthsAgo = DateOnly.FromDateTime(DateTime.Now).AddMonths(month);
        DateOnly lastFourMonths = new(fourMonthsAgo.Year, fourMonthsAgo.Month, 1);
        int daysOfMonth = DateTime.DaysInMonth(lastFourMonths.Year, lastFourMonths.Month);
        int thisMonthsProccessed = 0;
        <div class="month">
            <div class="month-header">
                <h3 class="month-name">
                    @lastFourMonths.ToString("MMMM")
                </h3>
                <div class="day-names">
                    <div class="day-name">sun</div>
                    <div class="day-name">mon</div>
                    <div class="day-name">tue</div>
                    <div class="day-name">wed</div>
                    <div class="day-name">thr</div>
                    <div class="day-name">fri</div>
                    <div class="day-name">sat</div>
                    
                </div>
            </div>
            @for (int week = 0; week < 5; week++)
            {
                <div class="week">
                    @{int k =0;}
                    @for (int day = 0; day < 7; day++)
                    {
                        
                        if (week == 0 && k < (int)lastFourMonths.DayOfWeek)
                        {
                            <div class="day log dropdown" data-did="false" style="background-color: grey;" data-date="">
                            </div>
                            k++;
                            continue;
                        }
                        if(@Model[proccessedDays].HasLog)
                        {
                            <div class="day log dropdown" data-did="true" data-date="">
                                <div class="dropdown-content">
                                    <h3 class="title info">
                                        @Model[proccessedDays].day.ToString()
                                    </h3>
                                    @foreach(var log in Model[proccessedDays].Logs)
                                    {
                                        <span class="title info">
                                            @log.Title
                                        </span>
                                        
                                    }
                                    <span class="title info">
                                        @Model[proccessedDays].day.DayOfWeek
                                    </span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="day log dropdown" data-did="false" data-date="">

                            </div>
                        }
                        proccessedDays++;
                        thisMonthsProccessed++;
                        if(thisMonthsProccessed == daysOfMonth)
                        {
                            break;
                        }
                    }
                </div>
            }
        </div>
    }
</div>
<h2></h2>