@using BulletJournaling.AppMVC.Data.DatabaseModels;
@model List<Smoking>;
@{
    ViewData["Title"] = "Smoking";
    int proccessedDays = 0;
    int dataIndex = 0;
    DateOnly today = DateOnly.FromDateTime(DateTime.Now);
}

@section Styles {
    <link rel="stylesheet" href="~/css/Smoking/index.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/smoking/index.js" asp-append-version="true"></script>
    <script src="~/js/smoking/validation.js" asp-append-version="true"></script>
}
@if (Model.Count == 0)
{
    <h1 class="noData">No data</h1>
    <h3 class="start">Start Adding you progress here</h3>
}
else
{
    <div id="smoking-calender" class="calender">
        @for (int month = -3; month < 1; month++)
        {  
            DateOnly fourMonthsAgo = DateOnly.FromDateTime(DateTime.Now).AddMonths(month);
            DateOnly lastFourMonths = new(fourMonthsAgo.Year, fourMonthsAgo.Month, 1);
            int daysOfMonth = DateTime.DaysInMonth(lastFourMonths.Year, lastFourMonths.Month);
            int thisMonthsProccessed = 0;
            <div class="month">
                <div class="month-header">
                    <h3 class="month-name">
                        @lastFourMonths.ToString("MMMM")
                    </h3>
                    <div class="day-names">
                        <div class="day-name">sun</div>
                        <div class="day-name">mon</div>
                        <div class="day-name">tue</div>
                        <div class="day-name">wed</div>
                        <div class="day-name">thr</div>
                        <div class="day-name">fri</div>
                        <div class="day-name">sat</div>
                        
                    </div>
                </div>
                @for (int week = 0; week < 6; week++)
                {
                    <div class="week">
                        @{int k =0;}
                        @for (int day = 0; day < 7; day++)
                        {
                            
                            if (week == 0 && k < (int)lastFourMonths.DayOfWeek)
                            {
                                <div class="day smoking dropdown" data-did="false" style="background-color: azure;">
                                </div>
                                k++;
                                continue;
                            }
                            if(week == 5 && thisMonthsProccessed == daysOfMonth)
                            {
                                continue;
                            }
                            if(dataIndex <Model.Count && 
                               Model[dataIndex].Date > lastFourMonths.AddDays(thisMonthsProccessed))
                            {
                                <div class="day smoking dropdown" data-did="false" data-date="">
                                    <div class="dropdown-content">
                                        <span class="number info">
                                            You didn't smoke. Good job!
                                        </span>
                                    </div>
                                </div>
                            }
                            else if(dataIndex < Model.Count && @Model[dataIndex].DidSmoke)
                            {
                                <div class="day smoking dropdown" data-did="true" data-number="@Model[dataIndex].Number">
                                    @if(Model[dataIndex].Number > 19)
                                    {
                                        <img class="skull" src="~/svgs/skull.svg" alt="Marg">
                                    }
                                    <div class="dropdown-content">
                                        <div class="dropdown-content">
                                            <span class="number info">
                                                @Model[dataIndex].Number cigarrets!
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {dataIndex++;}
                            }
                            else
                            {
                                <div class="day smoking dropdown" data-did="false">
                                    <div class="dropdown-content">
                                        <span class="number info">
                                            You didn't smoke. Good job!
                                        </span>
                                    </div>
                                </div>
                                
                            }
                            proccessedDays++;
                            thisMonthsProccessed++;
                            if(thisMonthsProccessed == daysOfMonth)
                            {
                                break;
                            }
                        }
                    </div>
                }
            </div>
        }
    </div>
}

<div id="AddSmokingWrapper">
    <partial name="_AddTodayPartial" model="new Smoking
    {
        DidSmoke = false,
        Date = @DateOnly.FromDateTime(DateTime.Now),
        Number = 0    
    }">
</div>
<div id="smoking-actions">
    <button id="delete" class="smokeAction">Delete Today's Insertion</button>
    <button id="plus1" class="smokeAction">+1 cigarrete</button>
</div>

<h2>you Smoked @Model?.Sum(s => s.Number) ciggarets in the last 4 Months!</h2>