
@model List<WorkoutModel>;

@{
    ViewData["Title"] = "Workout";
    DateOnly fiftySixDaysAgo = DateOnly.FromDateTime(DateTime.Now).AddDays(-55);
    //DateOnly fiftySixDaysAgo = dateNow.AddDays(-56);
}

@section Styles {
    <link rel="stylesheet" href="~/css/workout/index.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/workout/index.js" asp-append-version="true"></script>
}
<div id="workout-calender" class="calender">
    @for (int i = 0; i < 8; i++)
    {
        <div class="week">
            @for (int j = 0; j < 7; j++)
            {
                int day = i*7 + j;
                Console.WriteLine(day);
                if(@Model[day].didWorkout)
                {
                    <div class="day workout dropdown" data-did="true" data-date="@fiftySixDaysAgo.AddDays(day)">
                        <div class="dropdown-content">
                            <span class="type">
                                you worked out your: @Model[day].Type
                            </span>
                            <span class="start-time">
                                you started at: @Model[day].StartTime.ToString()
                            </span>
                            <span class="duration" data-duration="@Model[day].DurationMintues">
                                it took you @Model[day].DurationMintues minutes to Finish!
                            </span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="day workout dropdown" data-did="false" data-date="@fiftySixDaysAgo.AddDays(day)">

                    </div>
                }
                
            }
        </div>
    }
</div>